.container{
    height: 80px;
    background-color: #ff77ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.leftNav{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo{
    font-size: 2rem;
}

.rightNav{
    width: 40%;
    text-align: end;
    padding-right: 20px;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}
